@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .customGlass {
    background: rgba(236, 236, 236, 0.2);
    box-shadow: 0 8px 32px 0 rgb(0, 2, 33);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.loader {
  border-top-color: #053b5f;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.maskedElement {
  mask-image: url('../assets/image/mask.png');
  -webkit-mask-image: url('../assets/image/mask.png');
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  -webkit-mask-size: contain;
  height: 100%;
  width: 100%;
}

.openbtn {
  background: #10568f;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.openbtn .openbtn-area {
  transition: all 0.4s;
}

.openbtn span {
  position: absolute;
  background: #fff;
  display: inline-block;
  border-radius: 3px;
  left: 13px;
  height: 3px;
  transition: all 0.4s;
  width: 50%;
  &:nth-of-type(1) {
    top: 16px;
  }
  &:nth-of-type(2) {
    top: 24px;
  }
  &:nth-of-type(3) {
    top: 32px;
  }
}

.openbtn.active .openbtn-area {
  transform: rotatex(360deg);
}

.openbtn.active span {
  &:nth-of-type(1) {
    width: 45%;
    top: -9px;
    left: 14px;
    transform: translateY(6px) rotate(-135deg);
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    width: 45%;
    top: 3px;
    left: 14px;
    transform: translateY(-6px) rotate(135deg);
  }
}
