//colors
$primary-color: #eeac89;
$secondary-color: #b0585d;
$third-color: #9b3063;
$fourth-color: #691e3b;
$white: #ffffff;
$black: #000000;

//fonts
$font-primary: 'Cinzel Decorative', serif;
$font-secondary: 'Open Sans', sans-serif;
$font-tertiary: 'Poppins', sans-serif;
