@mixin responsive-text($font-size, $breakpoint) {
  font-size: $font-size;

  @media (max-width: $breakpoint) {
    font-size: ($font-size * 0.8);
  }
}
@mixin media-query($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
